
subprocess
re
csv
shutil
scapy


#
#netstat 
#route 
#ip
#netdiscover
#lscpu
#scapy
#wireshark
#airgeddon
#nmap
#dmitry
#ettercap
#dnsmasq 
#searchsploit
#wafw00f
#tcpdump
#lspci
#bettercap
#iw
#awk
#airmon-ng
#hostapd-wpe
#airodump-ng
#beef-xss
#dhcpd
#aireplay-ng 
#bully
#nft
#pixiewps
#aircrack-ng
#xterm
#ip
#asleap 
#packetforge-ng 
#hashcat
#wpaclean 
#hostapd 
#etterlog 
#tshark 
#mdk4 
#wash 
#hcxdumptool 
#reaver 
#hcxpcapngtool 
#john 
#crunch 
#lighttpd 
#openssl 
#